{% extends "layout.njk" %}

{% set title = "Pokedex" %}

{% block content %}
<h1 class="my-5 text-center">{{ title }}</h1>

<section class="card-deck">
  {% for pokemon in pokemons %}
  <div class="col-3 mb-3">
    <div class="card">
      <div class="card-header text-center font-weight-bold">
        <span>#{{ pokemon.id }} {{ pokemon.name }}</span>
      </div>
      <div class="card-body p-0 text-center">
        <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}" class="w-100">
        {% for type in pokemon.type %}
          <span class="badge badge-secondary mb-1">{{ type }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
