body {
  background-color: #80deea;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #fff;
  width: 100%;
}

@media (min-width: 720px) {
  main {
    padding: 30px;
    width: 70%;
  }
}

@media (min-width: 1000px) {
  main {
    width: 50%;
  }
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form .row {
  width: 100%;
}

@media (min-width: 570px) {
  main form .row {
    width: 90%;
  }
}

main form img#loading {
  position: relative;
  top: 14px;
}

main form input {
  box-sizing: border-box;
  margin: 10px 0 10px 15%;
  padding: 10px;
  width: 70%;
  outline: none;
}

main form.loading div:nth-child(n+3) input {
  background-color: #f9f9f9;
}

main form .row .cep {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.input-cep-error {
  border: 1px solid #f00;
  background: rgba(255, 0, 0, .1);
}

main form #cepError {
  color: rgba(255, 0, 0, 0.68);
  margin-top: -5px;
  margin: 10px 0 10px 15%;
  width: 70%;
}